.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}
.comments{
  text-align: center;
}
.feeling {
  text-align: center;
}

h1 {
  color: #f50057;

}
h4 {
  font-style: italic;
}

.image {
  max-width: 200px;
}
.imageDiv{
  margin-right: 70em;
}

.nextButton {
  margin-left: 90em;
  margin-bottom: 65em;
}
.review{
  text-align: center;
}
.support{
  text-align: center;
}
.success{
  text-align: center;
}
.understanding {
  text-align: center;
}


